body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header{
    background-color: #122A57;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

header .list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    padding-left: 20px;
    justify-content: space-between;
    line-height: 85px;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.texto-apresentacao{
    min-height: 200px;
}

.texto-apresentacao h1{
    color:#122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.texto-apresentacao a{
    background-color:#122A57;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-decoration: none;
    margin-top: 10px;
}

.row-reverse{
    flex-direction: row-reverse;
}

.texto-quem-somos{
    margin-top: 10px;
}

.quem-somos h2{
    color:#122A57;
    font-size: 28px;
    margin-bottom: 15px;
    display: flex;
}

.quem-somos{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.quem-somos h2::before {
    content: "";
    height: 32px;
    width: 5px;
    border-radius: 5%;
    background-color:#122A57;
    margin-right: 7px;
    position: relative;
}

.quem-somos p{
    margin-bottom: 5px;
    width: 95%;
    line-height: 23px;
    font-family: sans-serif;
    font-size: 16px;
}

div img{
    display: block;
    width: 100%;
}

.quem-somos img{
    min-width: 420px;
}

.container-externo{
    background-color:#122A57;
    width: 100%;

}

#servicos{
    flex-direction: column;
    padding: 50px 0;
}

.list-servicos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#servicos h2{
    color: #fff;
    margin-bottom: 70px;
    font-size: 29px;
}

.item-servico{
    text-align: center;
    color: #fff;
}

.item-servico p{
    margin-top: 28px;
    margin-bottom: 28px;
}

.item-servico a{
    background-color: #fff;
    border-radius: 30px;
    color: #122A57;
    width: 220px;
    height: 50px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    padding: 13px 14px;

}

#planos {
    flex-direction: column;
    padding: 50px 0;
}

.container-externo-planos {
    background-color: #fff;
    width:100%;
}

footer{
    background-color:#122A57;
    display: flex;
    max-width: 1345px;
    margin: auto;
    width: 100%;
    justify-content: center;
    color:#fff;
}

footer p{
    padding-right: 0;
    padding-left: 4px;
    padding-bottom: 1.5px;
    line-height: 40px;
    font-size: 12px;
}

#planos{
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 25px;
}

.list-planos{
    display:flex;
    align-items: flex-end;
}

.item-plano{
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 20px;
    padding: 10px;
}

.btn{
    background-color:#122A57;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-decoration: none;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3{
    font-size:  24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.item-plano h3::after{
    content:"";
    background-color:#122A57;
    width: 60%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    margin-left: 58px;
}

.item-plano ul{
    padding: 12px 20px;
    display:flex;
    flex-direction: column;
    margin-bottom: 35px;
    margin-top: 10px;
}

.item-plano ul li{
    display:flex;
    flex-wrap: none;
    align-items: center;
    padding: 8px;
    font-size: 15px;
}

.item-plano ul li::before{
    content:"";
    width: 8px;
    height: 8px;
    background-color: #122A57;
    margin-right: 7px; 

}

#planos h2{
    font-size: 28px;
}